<div ng-controller="userCtrl as uCtrl" class="container" style="background-image:url(images/searchpeople-bg.jpg)">
<div>
<form ng-submit="uCtrl.searchpeople()">
      <div class="input-group">
        <input type="text" ng-model="name" class="form-control" placeholder="Search people">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
</form>
</div>

<div ng-show="searchresults" ng-controller="friendCtrl as fCtrl" class="container">
<table class="table table-hover">
    <thead>
      <tr>
      	<th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="u in searchresults">
      	<td>{{u.name}}</td>
      	<td><a href="" ng-click="fCtrl.sendreq(u.id)">Add Friend</a></td>
      </tr>
    </tbody>
  </table>
</div>