

<div ng-controller="friendCtrl as fCtrl" ng-init="fCtrl.getAllFriends()" class="container" style="background-image:url(images/friends-bg.jpg)">
<h1>Friends</h1>
<table ng-controller="userCtrl as uCtrl" class="table table-hover">
    <thead>
      <tr>
      	<th>Name</th>
      </tr>
    </thead>
    <tbody ng-controller="chatCtrl">
      <tr ng-repeat="u in allfriends">
      	<td ng-if="currentUser.id==u.user_id" ng-init="uCtrl.getuser(u.friend_id)">{{friendprofile[$index].name}}</td>
      	<td ng-if="currentUser.id!=u.user_id" ng-init="uCtrl.getuser(u.user_id)">{{friendprofile[$index].name}}</td>
      	<td ng-show="friendprofile[$index].isOnline=='N'">Offline</td>
      	<td ng-show="friendprofile[$index].isOnline=='Y'"><a href="" ng-click="addMessage()">Online (Send a message)</a></td>
      </tr>
    </tbody>
  </table>
</div>

