<div ng-controller="comCtrl as cCtrl" ng-init="cCtrl.getAllComments(selectedBlog.id)"  class="container">
  <h1>{{selectedBlog.title}}</h1>
  <p><h4>by {{selectedBlog.user_id}}</h4></p>
  <blockquote class="blockquote-reverse">
  <p class="text-left" style="color:#FF7254">{{selectedBlog.description}}</p>
  <table  class="table table-hover">
    <thead>
      <tr>
      	<th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="c in allComments">
      	<td>{{c.content}}</td>
      	<td>-{{c.user_id}}</td>
      	<td ng-show="currentUser.id=='c.user_id'"><a href="" ng-click="cCtrl.deletecomment(c.id)">Delete</a></td>
      </tr>
    </tbody>
  </table>
  </blockquote>
</div>
<div ng-show="currentUser">
<form ng-controller="comCtrl as cCtrl" ng-submit="cCtrl.postcomment()">
<div class="form-group" align="left">
    <div class="col-sm-8" align="left">
      <input type="text" ng-model="comment.content" class="form-control" placeholder="Comment">
    </div>
  </div>
<div align="center"><button type="submit" class="btn btn-default">Submit</button></div>
</form>
</div>
<div ng-controller="userCtrl as uCtrl" align="center" ng-show="!currentUser"><h4><a href="#!login">Login</a> to post comments</h4></div>